#intro-container{
    min-height: calc(100vh - 126px);
    width: 1250px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    align-items: center;
    color: white;
    font-family: var(--main-font);
    font-size: 36px;
}

#typed{
    padding-left: 10vw;
}
