#skills-container{
    max-width: 1250px;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

#skills-text{
    max-width: 500px;
    font-family: var(--main-font);
    color: white;
    font-size: 18px;
    text-align: justify;
}

#skills-text a{
    color: var(--accent-clr);
    text-decoration: none;
}

#sellout{
    color: var(--main-clr);
}

@media screen and (max-width: 800px) {
    #sphere-container{
        display: none;
    }
}
