.container{
    min-height: 250px;
    width: 800px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#img-container{
    height: 100px;
}

#img-container img{
    height: 100%;
}

#id{
    font-family: var(--main-font);
    font-size: 22px;
    color: var(--main-clr);
    text-align: right;
}

#desc{
    font-family: var(--main-font);
    font-size: 18px;
    color: white;
}

#desc-container{
    text-align: right;
}